<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<style>
    @import url('http://fonts.cdnfonts.com/css/product-sans');

    html * {
        font-family: 'Product Sans', sans-serif !important;
    }

    #sub {
        margin-top: 30px;
    }

    .text-white {
        color: white;
    }

    .text-black {
        color: black;
    }

    .card {
        --bs-card-bg: black;
    }

    p {
        margin-left: 30px;

    }

    img {
        border-radius: 5%;
    }

    h1 {
        padding: 30px;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .nav-pills>li>a {
        color: black !important;
    }

    th,td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #DDD;
    }

    tr:hover {
        background-color: #D6EEEE;
        color: #000000;
    }

    table {
        color: #FFFFFF;
    }
</style>


<body class="bg-dark">
    <nav class="navbar" style="background-color: #018786">
        <p class="nav navbar-brand">Image Classifier</p>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col card-wrapper" data-player="kriti_sanon">
                <div class="card text-white bg-dark border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='kriti.jpg') }}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Kriti Sanon</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col card-wrapper" data-player="lionel_messi">
                <div class="card text-white bg-dark border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='messi.jpg') }}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Lionel Messi</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col card-wrapper" data-player="robert_downey">
                <div class="card text-white bg-dark border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='jr.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Robert Downey Jr.</h4>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="selena_gomez">
                <div class="card text-white bg-dark border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='selena.jpg') }}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Selena Gomez</h4>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="taylor_swift">
                <div class="card text-white bg-dark border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='taylor.jpg') }}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Taylor Swift</h4>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="virat_kohli">
                <div class="card text-white bg-dark border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='virat.jpg') }}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Virat Kohli</h4>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="/file-upload" class="dropzone" id="dropzone">
                            <div class="dz-message needsclick">
                                <img src="{{ url_for('static', filename='upload.png') }}" width="50vw"
                                    height="50vw"><br>
                                <span class="note needsclick">Drop files here or click to upload</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3 mx-auto">
                        <button id="submitBtn" type="button" class="btn btn-success">Classify</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 error" id="error">
                <p>Can't classify image. Classifier was not able to detect face and two eyes properly</p>
            </div>

            <div class="col-sm-4" id="resultHolder">
            </div>
            <div class="col-sm-4" id="divClassTable">
                <table id="classTable">
                    <tr>
                        <th>Person</th>
                        <th>Probability Score (%)</th>
                    </tr>
                    <tr>
                        <td>Kriti Sanon</td>
                        <td id="score_kriti_sanon"></td>
                    </tr>
                    <tr>
                        <td>Lionel Messi</td>
                        <td id="score_lionel_messi"></td>
                    </tr>
                    <tr>
                        <td>Robert Downey Jr.</td>
                        <td id="score_robert_downey"></td>
                    </tr>
                    <tr>
                        <td>Selena Gomez</td>
                        <td id="score_selena_gomez"></td>
                    </tr>
                    <tr>
                        <td>Taylor Swift</td>
                        <td id="score_taylor_swift"></td>
                    </tr>
                    <tr>
                        <td>Virat Kohli</td>
                        <td id="score_virat_kohli"></td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='dropzone.min.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>

</html>